/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    /* Color de fondo modo oscuro */
    color: #fff;
    /* Color de texto */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* Centrar el contenedor */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

header {
    background-color: #333;
    padding: 50px 0 20px 0;
}


header h1 {
    margin: 0;
    text-align: center;
    /* Alineación centrada */
    line-height: 1.5;
    /* Ajustar el espacio entre líneas para centrar verticalmente */
}

.about-me {
    padding: 50px;
    margin: 0 auto;
    /* Centrar el contenedor */
    text-align: center;
    /* Alinear el texto al centro */
}

.about-me h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    /* Centrar el contenedor */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Ajustar a 2 columnas en lugar de 3 */
    gap: 20px;
}

.about-me img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-me div {
    text-align: left;
}

.projects {
    padding: 50px 20px;
    /* Añadir un espacio adicional a los lados del contenedor */
    margin: 0 auto;
    /* Centrar el contenedor */
}

.projects h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project img {
    width: 320px;
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project h3 {
    margin-top: 10px;
}

.project a {
    display: inline-block;
    background-color: #61dafb;
    /* Color de enlace */
    color: #033550;
    padding: 10px 20px;
    margin: 3px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.project .code {
    background-color: #ff8e1e;
    color: #4d2701;
}

.project .code:hover {
    background-color: #dd7004;
    color: #fff;
}

.project a:hover {
    background-color: #3992c2;
    color: #fff;
    /* Cambia el color al pasar el ratón */
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Contactos */

.contact {
    max-width: 1200px;
    margin: 0 auto;
    /* Centrar el contenedor */
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact a {
    color: #fff;
}

.contact a:hover {
    color: #61dafb;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* Cambiado a space-around */
    align-items: center;
}

.contact li {
    margin-bottom: 10px;
}

.icono {
    margin-right: 10px;
}

/* Educacion */
.educacion {
    padding: 50px 0;
    text-align: center;
}

.educacion h2 {
    margin-bottom: 20px;
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.education-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.education-container h3 {
    margin-bottom: 10px;
}

.education-container p {
    margin: 0;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-container:hover {
    transform: scale(1.05);
}

/* Navegacion */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    /* Color de fondo del menú */
    padding: 10px 0;
    z-index: 1000;
    /* Asegura que el menú esté encima de otros elementos */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    /* Color del texto del enlace */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    /* Transición de color al hacer hover */
}

nav a:hover {
    color: #61dafb;
    /* Color del texto al hacer hover */
}


/* Estilos para pantallas más pequeñas (Mobile) */
@media only screen and (max-width: 600px) {
    .desktop-menu {
        display: none;
        /* Oculta el menú de escritorio en dispositivos móviles */
    }

    .mobile-menu {
        background-color: #333;
        display: block;
        /* Muestra el menú acordeón en dispositivos móviles */
        text-align: right;
        /* Alinea el menú a la derecha */
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1100;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        display: block;
        margin-right: 20px;
    }

    nav {
        display: none;
        padding: 10px 0;
        box-sizing: border-box;
        margin-top: 57px;
        background-color: #333;
    }

    nav ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        text-align: center;
        margin-bottom: 10px;
    }

    nav a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #61dafb;
    }

    /* Muestra el menú acordeón cuando el ícono se hace clic */
    .menu-open nav {
        display: block;
    }

    /* Oculta el ícono cuando el menú acordeón está abierto */
    .menu-open .menu-icon {
        display: none;
    }


    .container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .contact-list {
        display: block;
    }

    .about-container {
        display: block;
    }
}

@media only screen and (min-width: 601px) {
    .menu-icon {
        display: none;
    }

    .mobile-menu nav {
        display: none;
    }
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor del selector de idioma */
.language-selector {
    padding: 8px; /* Ajusta el padding según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
    font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
    border: 1px solid #333; /* Borde del selector */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #5c5c5c; /* Color de fondo del selector */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el selector */
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; /* Efecto de transición */
}

.language-selector:hover,
.language-selector:focus {
    background-color: #61dafb; /* Cambia el color de fondo al pasar o al estar enfocado */
    color: #333; /* Cambia el color del texto al pasar o al estar enfocado */
    border-color: #61dafb; /* Cambia el color del borde al pasar o al estar enfocado */
}

/* Elimina estilos predeterminados del navegador para el selector */
.language-selector select {
    border: none; /* Elimina el borde predeterminado del selector */
    background: transparent; /* Hace el fondo transparente para que el contenedor maneje el color de fondo */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el selector */    
    font-size: 14px; /* Ajusta el tamaño de fuente del selector */
    font-weight: bold; /* Ajusta el peso de la fuente del selector */
}

.language-selector select:hover {
 color: #616161;
}


/* Ajustes para alinear el selector de idioma con los demás elementos del menú */
.desktop-menu ul {
    display: flex;
    align-items: center;
}

/* Estilos para el selector de idioma en dispositivos móviles */
@media only screen and (max-width: 600px) {
    .mobile-menu .language-selector {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        width: 80%; /* Ajusta el ancho según sea necesario */
    }

    .mobile-menu .language-selector select {
        width: 100%;
        font-size: 14px;
    }
}
