:root {
    --blanco: #ffffff;
    --oscuro: #1e294f;
    --primario: #8f91fb;
    ;
    --secundario: #4f5a9f;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model*/
    scroll-snap-type: y mandatory;
}


/* Scroll snap */
.nav-principal,
.sobre-mi,
.educacion,
.experiencia,
.proyectos,
.contacto {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'Lato', sans-serif;
}

section {
    margin-bottom: 5rem;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .6rem;
    width: 90%;
    text-align: center;
    border: none;
}


@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.43);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--oscuro);
}

/* Utilidades */
.centrar {
    align-items: center;
}

.w-sm-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion Principal */

.nav-bg {
    background-color: var(--oscuro);
}

.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--oscuro);
}

.nav-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.nav-principal a:hover {
    color: var(--oscuro);
    background-color: var(--primario);
}

@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

header {
    justify-content: center;
    gap: 5rem;
    background-color: var(--grisClaro);
    padding: 0;
}

header img {
    width: 20rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(10rem, auto);
}

.experiencia .grid {
    grid-template-columns: repeat(2, 1fr);
}

.contacto ul {
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}

.icono {
    font-size: x-large;
    margin-right: 1rem;
}

.animar {
    transition: transform 0.5s ease-in-out;
}

.animar:hover {
    transform: scale(1.1);
}

.proyectos a {
    text-decoration: none;
}